<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="{{url_for('static', filename='ajaxJs.js')}}"></script>
  </head>
  <body>
    <br><hr><br>
      <form id="form">
        <input type="text" name="lat" id="lat" placeholder="lat">
        <input type="text" name="long" id="long" placeholder="long">
        <input type="submit">
      </form>
    <br><hr><br>
    _____________Weather____________________
    <div id="result">
        gsgesge
    </div>
    ________________________________________
  </body>
</html>
