{% extends "layout.html" %}
{% block heading %}
  Book a flight Ticket
{% endblock %}

{% block body %}
<br>
<hr>
<br>
  <form action="{{url_for('flight_list')}}" method="post">
    <select class="form-control" name="flight_id">
      {% for flight in flights %}
        <option value="{{flight.id}}">from {{flight.origin}} to {{flight.destination}}  {{flight.id}}</option>
      {% endfor %}
    </select>
    <input type="text" name="passenger_name" placeholder="passenger_name">
    <input type="submit">
  </form>
{% endblock %}
